#  Calling the dynamic library.
useDynLib(MeDiChISeq)

#  All functions exported other than those starting with "."
#exportPattern("^[^\\.]")
#exportPattern("^[[:alpha:]]+")

import(Rcpp, BH, lars, quadprog, corpcor, parallel)

export( "chip.deconv.seq", "coef.chip.deconv.seq", "plot.chip.deconv.seq", "print.chip.deconv.seq", "deconv.entire.genome.seq", "fit.peak.profile.seq", "remove.clons", "write.wigs.parallel")
